
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminLayout</title>
    <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/Admin/plugins/fontawesome-free/css/all.min.css">
  <!-- DataTables -->          
  <link rel="stylesheet" href="~/Admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="~/Admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="~/Admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->         
  <link rel="stylesheet" href="~/Admin/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">    
  @await RenderSectionAsync("Heads", required: false)
</head>
<body>
    @await Component.InvokeAsync("KontrolPanel");
  <div class="content-wrapper">
      @RenderBody()
</div>
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Open</b> Saha
    </div>
    <strong>Open Saha &copy; 2023-2025 <a href="https://localhost:7024/">Open Saha</a>.</strong> Kullanıcı Paneline gitmek için tıkla
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

<!-- ./wrapper -->

<!-- jQuery -->
<script src="~/Admin/plugins/jquery/jquery.min.js"></script>
<script src="~/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Admin/dist/js/adminlte.min.js"></script>
<script src="~/Admin/dist/js/demo.js"></script>
<script src="~/Admin/plugins/sweetalert2/sweetalert2.min.js"></script>
@if (TempData["success"] != null)
    {
        <script type="text/javascript">
            $(function () {
                toastr.options.timeOut = "5000";
                toastr.options.closeButton = true;
                toastr.options.progressBar = true;
                toastr.options.newestOnTop = true;
                toastr.options.positionClass = 'toast-top-right';
                toastr['success']('@TempData["success"]');
            });
        </script>
    }
    @if (TempData["danger"] != null)
    {
        <script type="text/javascript">
            $(function () {
                toastr.options.timeOut = "5000";
                toastr.options.closeButton = true;
                toastr.options.progressBar = true;
                toastr.options.newestOnTop = true;
                toastr.options.positionClass = 'toast-top-right';
                toastr['danger']('@TempData["danger"]');
            });
        </script>
    }
   
  @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
