
@{
    ViewData["Title"] = "deneme";
    Layout = "~/Views/Shared/_KontrolLayout.cshtml";
}
<div class="card-body">
    <div class="row">
    <div class="col-lg-offset-1" >
        <a href="~/kontrol/sahalar/form/0" class="btn btn-block btn-primary text-start">1Yeni Ekle</a>
    </div>
    <div class="col-lg-1" >
        <a href="~/kontrol/sahalar/form/0" class="btn btn-block btn-primary text-start">1Yeni Ekle</a>
    </div>
    <div class="col-lg-1" >
        <a href="~/kontrol/sahalar/form/0" class="btn btn-block btn-primary text-start">1Yeni Ekle</a>
    </div>
    <div class="col-lg-1" >
        <a href="~/kontrol/sahalar/form/0" class="btn btn-block btn-primary text-start">1Yeni Ekle</a>
    </div>
<div class="col-lg-offset-1" >
  <a href="~/kontrol/sahalar/form/0" class="btn btn-xs btn-block btn-primary text-start">1Yeni Ekle</a>
</div>   
<div class="col-lg-offset-1" style="margin-left: 10px;">
  <a href="~/kontrol/sahalar/form/0" class="btn btn-xs btn-block btn-primary text-start">1Yeni Ekle</a>
</div>    
        </div>
    </div>
