@model OpenSaha.Models.EkipmanRezervasyon
@{
    ViewData["Title"] = "EkipmanRez";
    Layout = "~/Views/Shared/_KontrolLayout.cshtml";
}
<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Ekipman İşlemleri</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

<div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">Rezervasyona Ekipman Ekleme</h3>
              </div>
              <div class="card-body">
              <form action="~/kontrol/Rezervasyon/EkipmanRez" method="post">
                <div class="card-body">
                    <div class="row">
                      <div class="col-md-3">   
                    <input type="hidden" class="form-control" asp-for="RezervasyonId" value="@ViewBag.rezid">
                  <div class="form-group">
                    <label>Ekipmanlar</label> 
                    <select class="form-control" asp-for="EkipmanId" asp-items="@ViewBag.ekp"></select>
                  </div>                              
                  <div class="form-group">
                    <label>Adet</label> 
                    <input type="text" class="form-control" asp-for="Adet" placeholder="Adeti">
                  </div>                              
                </div>  
                     <div class="col-md-3">     
                  <div class="form-group">
                    <input type="hidden" class="form-control" asp-for="YoneticiId" value="@ViewBag.yid">
                  </div>  
                  <div class="form-group">
                    <input type="hidden" class="form-control" asp-for="Ucret">
                  </div>   
                     </div>
                  </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Ekle</button>
                </div>
              </form>
             </div>
            </div>