@model OpenSaha.Models.Rezervasyon
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_KontrolLayout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Rezervasyon Güncelle</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Rezervasyon ;</h3>
                    </div>
                    <form action="~/kontrol/Rezervasyon/form/0" method="post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Kullanıcı Adı</label>
                                        @if (Model.Id > 1)
                                        {
                                            <input type="text" class="form-control"asp-for="Kullanici.Email" name="email" placeholder="Kullanıcı Adı">
                                        }
                                        else if (Model.Id == 0)
                                        {
                                            <input type="text" class="form-control" name="email" placeholder="Kullanıcı Adı">

                                        }
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" asp-for="Id" readonly />
                                        <input type="hidden" class="form-control" asp-for="YoneticiId" value="@ViewBag.yid" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label>Randevu Başlangıç Tarihi</label>
                                        <input type="datetime-local" class="form-control" asp-for="RandevuBaslangic" placeholder="Randevu Başlangıç Tarihi">
                                    </div>
                                    <div class="form-group">
                                        <label>Eşleşme</label>
                                        <input type="text" class="form-control" asp-for="EslesmeId" placeholder="Eşleşme">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>saha</label>
                                            <select class="form-control" asp-for="SahaId" asp-items="@ViewBag.sha"></select>
                                    </div>
                                    <div class="form-group">
                                        <label>Randevu Bitiş Tarihi</label>
                                        <input type="datetime-local" class="form-control" asp-for="RandevuBitis" placeholder="Randevu Bitiş Tarihi">

                                    </div>
                                </div>
                            </div>
                        </div>
                        @{
                            var successMessage = TempData["success"] as string;
                            var dangerMessage = TempData["danger"] as string;
                        }
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary ">Güncelle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("RezKontrol");

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#ddlSehirler").each(function () {
                if ($(this).find("option").length <= 1) {
                    $(this).attr("disabled", "disabled");
                }
            });
            $("#ddlSehirler").change(function () {
                var value = 0;
                if ($(this).val() != "") {
                    value = $(this).val();
                }
                var id = $(this).attr("id");
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("SehirAjax","Home", new { Area=""})",
                    data: { value: value, type: id },
                    success: function (response) {
                        switch (id) {
                            case "ddlSehirler":
                                DisableDropDown("#ddlIlceler");
                                PopulateDropDown("#ddlIlceler", response.ilce);
                                break;
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
        function DisableDropDown(dropDownId) {
            $(dropDownId).attr("disabled", "disabled");
            $(dropDownId).empty().append('<option selected="selected" value="0">Seçiniz</option>');
        }
        function PopulateDropDown(dropDownId, list) {
            if (list != null && list.length > 0) {
                $(dropDownId).removeAttr("disabled");
                $.each(list, function () {
                    $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
                });
            }
        }
        $('.uyeGirisYapHata').click(function () {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Rezervasyon oluşturabilmek için giriş yapmanız gerekiyor!',
                footer: '<a href="">Giriş Yap?</a>'
            });
        });
    </script>
                }