
<aside id="tg-sidebar" class="tg-sidebar">
	<div class="tg-widget tg-catagories-widget">
		<h3>Kullanıcı Menüsü</h3>
		<ul>
			<li>
				<a href="~/profil"><em>Profil Sayfası</em></a>
			</li>
			<li>
				<a href="~/profil/randevular"><em>Randevularım</em><i>@ViewBag.TotalCount</i></a>
			</li>
			<li>
				<a href="~/profil/takimlarim"><em>Takımlarım</em><i>@ViewBag.TotalCountTkm</i></a>
			</li>
			<li>
				<a href="~/profil/takimolustur"><em>Takım Oluştur</em></a>
			</li>		
			<li>
				<a href="~/profil/musaitgunlerim"><em>Müsait Günlerim</em><i>@ViewBag.mst</i></a>
			</li>
			<li>
				<a href="~/profil/musaitgunler"><em>Müsait Gün Ekle</em></a>
			</li>
			<li>
				<a href="~/profil/edit"><em>Profili Düzenle</em></a>
			</li>
			<li>
				<a href="~/profil/sifre"><em>Şifremi Değiştir</em></a>
			</li>
			<li>
				<a href="~/logout"><em>Çıkış Yap</em></a>
			</li>
										
		</ul>
	</div>
</aside>