
<div class="tg-sliderbox">
	<div class="tg-imglayer">
		<img src="~/site/images/bg-pattran.png" alt="image desctription">
	</div>
	<div id="tg-home-slider" class="tg-home-slider tg-haslayout">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="container">
					<figure class="floating">
						<img src="~/site/images/slider/img-01.png" alt="image description">
					</figure>
					<div class="tg-slider-content">
						<h1>Open <span>Saha</span></h1>
						<div class="tg-btnbox">
							<h2><time datetime="2016-05-03">@DateTime.Now.Day<span>june</span></time></h2>
							<a class="tg-btn" href="/Hakkimizda"><span>Daha Fazla</span></a>
							<a class="tg-btn" href="/Sahalar/Saha"><span>Sahalar</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="container">
					<figure class="floating">
						<img src="~/site/images/slider/img-01.png" alt="image description">
					</figure>
					<div class="tg-slider-content">
						<h1>Maçlar Ve <span>Takımlar</span></h1>
						<div class="tg-btnbox">
								<h2><time datetime="2016-05-03">@DateTime.Now.Day<span>june</span></time></h2>
							<a class="tg-btn" href="#"><span>read more</span></a>
							<a class="tg-btn" href="#"><span>book my ticket</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="container">
					<figure class="floating">
						<img src="~/site/images/slider/img-01.png" alt="image description">
					</figure>
					<div class="tg-slider-content">
						<h1>Aradığın <span>Bütün Sahalar</span></h1>
						<div class="tg-btnbox">
								<h2><time datetime="2016-05-03">@DateTime.Now.Day<span>june</span></time></h2>
							<a class="tg-btn" href="#"><span>read more</span></a>
							<a class="tg-btn" href="#"><span>book my ticket</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tg-btn-next">
			<span>sonraki</span>
			<span class="fa fa-angle-down"></span>
		</div>
		<div class="tg-btn-prev">
			<span>önceki</span>
			<span class="fa fa-angle-down"></span>
		</div>
	</div>
</div>
